/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  background-color: #000;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #0f0f23;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0;
  letter-spacing: 2px;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

.pages {
  padding: 20px;
}

/* Navbar.css */
.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar h1 {
  font-size: 30px;
}

.Navbar a {
  text-decoration: none;
  color: #fff;
}

.Navbar a:hover {
  color: #00ff00;
}
.workout-details {
  background-color: #001c33;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  
}

.workout-details h4 {
  font-size: 20px;
  margin: 0;
}

.workout-details p {
  margin: 10px 0;
}

.workout-details strong {
  color: #00ff00;
}

